<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Todo Application - Developed By: Osama Al-Sallal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/systemjs.config.js"></script> 
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/colorpicker.css" rel="stylesheet" /> 
    <script src="~/Scripts/colorpicker.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/lib/bootstrap-datepicker.js"></script>
    <link href="~/Scripts/lib/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
